/* estilos generales*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background:#f8f8f8;
    color:#333;
    line-height:1.6;
}

/* header */

header{
    width:100%;
    background:#8B0000;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:sticky;
    top:0;
    z-index:1000;
}
.logo h1{
    font-size:32px;
}
nav ul{
    list-style:none;
    display:flex;
}
nav ul li{
    margin-left:25px;
}
nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
    font-weight:bold;
}
nav ul li a:hover,
nav ul li a.activo{
    color:#FFD700;
}
/* banner */

.banner{
    

    height:90vh;
    background:linear-gradient(rgba(0,0,0,.6),
    rgba(0,0,0,.6)),
    url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");

    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}
.contenido-banner h2{
    font-size:55px;
    margin-bottom:20px;
}
.contenido-banner p{
    font-size:22px;
    width:70%;
    margin:auto;
    margin-bottom:30px;
}
.boton{
    display:inline-block;
    padding:15px 40px;
    background:#FFD700;
    color:#8B0000;
    text-decoration:none;
    border-radius:8px;
    font-size:20px;
    font-weight:bold;
    transition:.3s;
}
.boton:hover{
    background:white;
    transform:scale(1.05);
}

/* nosotros */

.nosotros{

    width:80%;
    margin:0px auto;

    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:40px;
}
.texto{
    flex:1;
}
.texto h2{
    color:#8B0000;
    font-size:40px;
    margin-bottom:20px;
}
.texto p{
    font-size:18px;
    text-align:justify;
}
.imagen{
    flex:1;
}
.imagen img{
    width:100%;
    border-radius:12px;
    box-shadow:0 10px 20px rgba(0,0,0,.2);
}

/*destacados */
.destacados{
    width:90%;
    margin:80px auto;
    text-align:center;
}
.destacados h2{
    font-size:40px;
    color:#8B0000;
    margin-bottom:40px;
}
.contenedor-tarjetas{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
    width: 80%;
    margin: 0 auto;
}
.tarjeta{
    
    width:320px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    transition:.4s;
}
.tarjeta:hover{
    transform:translateY(-10px);
}
.tarjeta img{
    width:100%;
    height:auto;
    object-fit:cover;
}
.tarjeta h3{
    margin-top:20px;
    color:#8B0000;
    font-size:28px;
}
.tarjeta p{

    padding:15px;
    font-size:17px;
}


/*--HEADER--*/

header{
background:#8B0000;
color:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

.logo h1{
font-size:32px;
}

nav ul{
list-style:none;
display:flex;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
color:white;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

nav ul li a:hover,
nav ul li a.activo{
color:#FFD700;
}

/*--BANNER--*/

.banner-pagina{
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1552566626-52f8b828add9");
background-size:cover;
background-position:center;
color:white;
text-align:center;
padding:100px 20px;
}

.banner-pagina h2{
font-size:48px;
}

.banner-pagina p{
margin-top:15px;
font-size:20px;
}

/*--SERVICIOS--*/
/*
.servicios{
width:90%;
margin:60px auto;
text-align:center;


}*/

.servicios h2{
color:#8B0000;
margin-bottom:40px;
font-size:36px;
}

.contenedor-servicios{

display:grid;
justify-content:center;
flex-wrap:wrap;
gap:30px;
}

.servicio{
width:80%;
margin:0 auto;
margin-top: 80px;
padding: 20px;
background:white;
border-radius:10px;
overflow:hidden;
box-shadow:0 5px 15px rgba(0,0,0,.15);
transition:.3s;
}



.servicio-fila-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.servicio-card{
    flex: 1 0 300px;
    width: 32%;
    padding: 15px;
    border: 1px solid black;
}
.servicio-card img{
    width: 100%;
}
.servicio:hover{
transform:scale(1.05);
}

.servicio h3{
color:#8B0000;
margin-bottom:15px;
}

.servicio:hover{
transform:translateY(-8px);
}

.servicio img{
width:100%;
height:220px;
object-fit:cover;
}

.servicio h3{
color:#8B0000;
margin:15px 0;
}

.servicio p{
padding:0 15px 20px;
}

/*--TABLA MENÚ--*/

.menu{
width:90%;
margin:60px auto;
}

.menu h2{
text-align:center;
color:#8B0000;
margin-bottom:30px;
}

table{
width:100%;
border-collapse:collapse;
background:white;
}

th{
background:#8B0000;
color:white;
padding:15px;
}

td{
padding:15px;
border:1px solid #ddd;
text-align:center;
}

tr:nth-child(even){
background:#f2f2f2;
}

/*--PROMOCIÓN--*/

.promocion{
background:#8B0000;
color:white;
text-align:center;
padding:60px 20px;
}

.promocion h2{
font-size:36px;
}

.promocion p{
margin:20px 0;
font-size:20px;
}

.boton{
display:inline-block;
padding:15px 35px;
background:#FFD700;
color:#8B0000;
text-decoration:none;
font-weight:bold;
border-radius:8px;
transition:.3s;

}

.boton:hover{
background:white;
}

/*--FOOTER--*/



/*--HEADER--*/

header{
background:#630808;
color:#fff;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
position:sticky;
top:0;
z-index:1000;
}

.logo h1{
font-size:32px;
}

nav ul{
list-style:none;
display:flex;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
color:#fff;
text-decoration:none;
font-size:18px;
font-weight:bold;
transition:.3s;
}

nav ul li a:hover,
nav ul li a.activo{
color:#FFD700;
}

/*--BANNER--*/

.banner-pagina{
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");
background-size:cover;
background-position:center;
color:white;
text-align:center;
padding:100px 20px;
}

.banner-pagina h2{
font-size:50px;
margin-bottom:15px;
}

.banner-pagina p{
font-size:20px;
}

/*--GALERÍA--*/

.galeria{
width:90%;
margin:70px auto;
}

.galeria h2{
text-align:center;
color:#8B0000;
font-size:40px;
margin-bottom:40px;
}

.contenedor-galeria{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:30px;
}
/*--EXPERIENCIA--*/

.experiencia{
width:90%;
margin:70px auto;
}

.experiencia h2{
text-align:center;
color:#8B0000;
margin-bottom:40px;
font-size:38px;
}

.contenedor-servicios{
display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
}


/*--TESTIMONIOS--*/

.testimonios{
background:#fff5f5;
padding:70px 20px;
}

.testimonios h2{
text-align:center;
color:#8B0000;
margin-bottom:40px;
font-size:38px;
}

.testimonios .servicio{
background:white;
}

.testimonios h4{
margin-top:15px;
color:#8B0000;
}

/*--ESTILOS GENERALES--*/
.logo h1{
font-size:32px;
}

nav ul{
list-style:none;
display:flex;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
text-decoration:none;
color:white;
font-size:18px;
font-weight:bold;
transition:.3s;
}

nav ul li a:hover,
nav ul li a.activo{
color:#FFD700;
}

/*--BANNER--*/

.banner-pagina{
background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
url("https://images.unsplash.com/photo-1414235077428-338989a2e8c0");
background-size:cover;
background-position:center;
color:white;
text-align:center;
padding:100px 20px;
}

.banner-pagina h2{
font-size:50px;
margin-bottom:15px;
}

.banner-pagina p{
font-size:20px;
}

/*--INFORMACIÓN Y FORMULARIO--*/

.contacto-info{
    width:90%;
    margin:60px auto;
    display:flex;
    justify-content:space-between;
    gap:40px;
    flex-wrap:wrap;
}

.datos,
.formulario{
flex:1;
min-width:320px;
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.datos h2,
.formulario h2{
color:#8B0000;
margin-bottom:20px;
}

.datos p{
margin-bottom:15px;
}

.datos ul{
margin-left:20px;
}

.datos li{
margin-bottom:8px;
}

/*--FORMULARIO--*/

form{
display:flex;
flex-direction:column;
}

input,
textarea{
padding:15px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:8px;
font-size:16px;
}

input:focus,
textarea:focus{
outline:none;
border-color:#8B0000;
}

button{
background:#8B0000;
color:white;
border:none;
padding:15px;
font-size:18px;
border-radius:8px;
cursor:pointer;
transition:.3s;
}

button:hover{
background:#a00000;
}

/*--MAPA--*/

.mapa{
width:90%;
margin:60px auto;
}

.mapa h2{
text-align:center;
color:#8B0000;
margin-bottom:25px;
}

.mapa iframe{
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

/*--REDES SOCIALES--*/

.redes{
text-align:center;
margin:60px auto;
}

.redes h2{
color:#8B0000;
margin-bottom:25px;
}

.iconos{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
}

.iconos a{
text-decoration:none;
background:#8B0000;
color:white;
padding:15px 25px;
border-radius:8px;
transition:.3s;
}

.iconos a:hover{
background:#FFD700;
color:#8B0000;
}

/*--FOOTER--*/

footer{
background:#222;
color:white;
text-align:center;
padding:20px;
margin-top:50px;
}



/* responsibe */

@media(max-width:900px){

header{
    flex-direction:column;
    width: 100%;
}

nav ul{
    margin-top:20px;
    /*flex-direction:column;*/
    text-align:center;

}
nav ul li{
    
    margin:12px 0;

}
nav ul li a{
    font-size: 0.7rem;
    padding:0px 12px;

}
.banner{
    height:70vh;
}
.contenido-banner h2{
    font-size:38px;
}
.contenido-banner p{
    width:90%;
    font-size:18px;
}
.nosotros{
    flex-direction:column;
}
.texto h2{
    text-align:center;
}
}


/*--RESPONSIVE--*/

@media(max-width:768px){


header{
    flex-direction:column;
    padding:10px 8%;
}
.logo h1{
    font-size:24px;
    text-align: center;
}
nav ul{
/*flex-direction:column;*/
margin-top:15px;
}

nav ul li{
margin:10px 0;
}

.banner-pagina h2{
font-size:34px;
}

.contacto-info{
flex-direction:column;
}

.iconos{
flex-direction:column;
align-items:center;
}

}

